@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: auto;
  min-width: 1440px;
}

body {
  color: var(--foreground);
  background: #ffffff;
  letter-spacing: normal;
  overflow-x: auto;
  min-width: 1440px;
}
